@charset "utf-8";
/* artistList */
.artistList{margin-top:100px;padding:0 16px;}
/* .Acontent,.Mcontent{display:flex;justify-content:space-between;} */
.listWrap{width:98%;height:300px; position:relative;overflow:hidden;}
.listWrap ul{width:1900px;padding-left:0; position:absolute;left:-230px;top:0;}
.Acontent li,.Mcontent li{width:176px; margin:0 10px;padding: 10px 10px; float:left;border-radius:10px;}
.Acontent li:hover,.Mcontent li:hover{background-color:#363636;  transition: background-color .3s ease;color:rgba(222, 222, 222, 1);}
.Acontent li img{border-radius:50%;}
.Acontent p{font-weight:bold; text-align:center;}
.Mcontent li div{display:flex;justify-content:space-between;}
.musicList{padding:0 16px;}
.arrow{text-align: right;}
.arrow span{font-size:32px; }