@charset "utf-8";
main{width:100%;}
.contentWrap{margin-top:100px;padding:0;text-align:center;}
h3{margin-bottom:30px;font-weight:bold;}
h5{color:#babac1;}
.plan{margin-top:80px;display:flex;justify-content:space-between;}
.plan label{width:50%;min-width:200px;position:relative;}
.check-icon{width:20px;height:20px;position:absolute;top:14px;left:20px;border:2px solid #ddd;border-radius:50%;transition:200ms;}
.check-icon:after{opacity:0;content:"";width:10px;height:4px;border-bottom:3px solid #f82f62;border-left:3px solid #f82f62;position:absolute;top:calc(50% - 5px);left:1px;transform:rotate(-45deg);transition:200ms;}
.plan input[type=radio]{display:none;}
.plan dt{padding:12px 0 14px;background-color:#191a1c;color:#fff;font-size:16px;font-weight:bold;}
.plan dd{padding:20px 0;color:#babac1;}
.plan dl{border-radius:8px;border:1px solid #191a1c;overflow:hidden;box-sizing:border-box;}
.plan label:hover{transform:translateY(-6px);}
.contentWrap input[type=submit]{width:100%;height:48px;margin-top:10px;padding:0 20px;background:#f82f62;border:none;border-radius:4px;color:#fff;font-size:16px;font-weight:600;}
.contentWrap input[type=submit]:hover{background:rgb(255, 61, 110);}
.plan input[type=radio]:checked+label dt{background-color:#f82f62;}
.plan input[type=radio]:checked+label dl{border-color:#f82f62;}
.plan input[type=radio]:checked+label .check-icon{background-color:#fff;;border:2px solid #fff;}
.plan input[type=radio]:checked+label .check-icon:after{opacity:1;}
.plan input[type=radio]:disabled + label{color:#ddd;}
