@charset "utf-8";
.search{position:fixed;top:12px;z-index:900;}
.Sinput{width:400px;padding:6px 48px;border-radius:20px;color:#000;}
.genre{margin:15px 0 70px;}
.genre ul{display:flex;justify-content:flex-start;flex-wrap:wrap;}
.genre ul li{padding:10px 16px;;margin:4px;border-radius:20px; background:#00000047;}
.music table{width:100%;}
.music table thead th{height:36px;border-bottom:1px solid hsla(0,0%,100%,.1);color:#b3b3b3;}
.music table tr{border-radius:4px;}
.music table tr td,.music table tr th{padding:8px 10px;text-align:left;}
.music table thead tr{margin-bottom:8px;}
.music .titleImg{display:flex;}
.music .titleImg img{width:40px;height:40px;}
.music .titleImg div{
margin-left:10px;}
.music table tbody tr:hover{background-color:hsla(0,0%,100%,.3);}
td,th{vertical-align: middle;}
table{border-spacing:0;}