@charset "utf-8";
/* 앨범등록 */
@keyframes scale{
    10%{transform: scale(1.1);}
    75%{transform: scale(0.9);}
}
h2{margin-top:180px; text-align:center;}
h2 span.material-symbols-outlined{font-size:70px;}
.albumPlus{width: 150px;margin:26px auto 0;padding:10px 30px;display:block;border-radius:20px;background:#fff;color:#000;text-align:center;font-weight:bold;}
.albumPlus:hover{animation:scale 0.5s linear normal 1 ;}